.choice-con{
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    border: 2px solid black;
    border-radius: 10px;
}
.choice-con:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.8s;
}
h2{
  font-size: 3rem;
  margin-bottom: 2rem;
}
.choice-pre {
    padding: 1rem;
    background-color: rgb(238, 160, 160);
    border-radius: 10px;
}
.choice-text {
    padding: 1rem;
    width: 100%;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
#hud {
    display: flex;
    justify-content: space-between;
}
.hud-pre {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.hud-main {
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
    margin-top: 15px;
    background-color: rgb(238, 160, 160);
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
}
#progress-bar{
    width: 15rem;
    height: 3rem;
    border: 3px solid rgb(238, 160, 160);
    border-radius: 10px;
    margin-top: 30px;
}
#progress-full{
    height: 2.8rem;
    background-color: rgb(238, 160, 160);
    width: 0%;
}
